
.icon-info:before { content: '\e800'; } /* '' */
.icon-network:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-eye-off:before { content: '\e804'; } /* '' */
.icon-resize-small:before { content: '\e80a'; } /* '' */
.icon-resize-full:before { content: '\f0b2'; } /* '' */
.icon-center:before { content: '\f140'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */